oidc:
  customer:
    providers: []
    write_all_groups: []
  giantswarm:
    providers: []
    write_all_groups: []

baseDomain: ""
managementCluster: ""

image:
  name: "giantswarm/dex-operator"
  tag: ""
  registry:
    domain: gsoci.azurecr.io

pod:
  user:
    id: 1000
  group:
    id: 1000

# Add seccomp to pod security context
podSecurityContext:
  seccompProfile:
    type: RuntimeDefault

# Add seccomp to container security context
securityContext:
  seccompProfile:
    type: RuntimeDefault

global:
  podSecurityStandards:
    enforced: true

hostAliases: []

selfRenewal:
  enabled: true

monitoring:
  podLogs:
    # Enable log collection for monitoring.
    enabled: true

    # Tenant to use for monitoring
    tenant: giantswarm

    # Optional additional annotations.
    annotations: {}

    # Optional additional labels.
    labels: {}

    # List of relabeling rules for logs.
    relabelings: []
